<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tabs Stefanya- DBP</title>

    <link rel="stylesheet"
          href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <style>
        .panel.with-nav-tabs .panel-heading{
            padding:5px 5px 0 5px;
        }
        .panel.with-nav-tabs .nav-tabs{
            border-bottom:none;
        }
		
		.container{
		margin-top:50px;
		}

    </style>
</head>

<body>

<div class="container">
  <div class="row">
	
	<!-- AZUL -->
	<div class="col-md-6 col-md-offset-3 text-center" th:if="${theme == 'blue'}">
		<h1>Perfil</h1>
		<h2>Desarrollo Basado en Plataformas</h2>
		
	     <div class="panel with-nav-tabs panel-info">

	       <div class="panel-heading">
	         <ul class="nav nav-tabs">
	           <li class="active"><a href="#tab1info" data-toggle="tab">Nombre</a></li>
			
	           <li><a href="#tab2info" data-toggle="tab">Correo</a></li>
	           <li><a href="#tab3info" data-toggle="tab">GitHub</a></li>
			   
			   <li class="dropdown">
				<a href="#" data-toggle="dropdown">
               Colores <span class="caret"></span>
             </a>
             <ul class="dropdown-menu" role="menu">
               <li th:each="tool,iter : ${user.tools}">
                 <a th:href="'#tabTool' + ${iter.index}" data-toggle="tab" th:text="${tool}"></a>
               </li>
             </ul>
           </li>
		  </ul>
	     </div>
		
		   
        <div class="panel-body">
          <div class="tab-content">
			<div class="tab-pane fade in active" id="tab1info" th:text="${user.name}"></div>
			<div class="tab-pane fade" id="tab2info" th:text="${user.email}"></div>
			<div class="tab-pane fade" id="tab3info" th:text="${user.github}"></div>
          </div>
        </div>

      </div>
    </div>

	
	
	
	<!-- ROJO -->
    <div class="col-md-6 col-md-offset-3" th:if="${theme == 'red'}">
      <div class="panel with-nav-tabs panel-danger">

        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1danger" data-toggle="tab">Nombre</a></li>
            <li><a href="#tab2danger" data-toggle="tab">Correo</a></li>
            <li><a href="#tab3danger" data-toggle="tab">GitHub</a></li>
			<li class="dropdown">
							<a href="#" data-toggle="dropdown">
			               Colores <span class="caret"></span>
			             </a>
			             <ul class="dropdown-menu" role="menu">
			               <li th:each="tool,iter : ${user.tools}">
			                 <a th:href="'#tabTool' + ${iter.index}" data-toggle="tab" th:text="${tool}"></a>
			               </li>
			             </ul>
			           </li>
          </ul>
        </div>

        <div class="panel-body">
          <div class="tab-content">
			<div class="tab-pane fade in active" id="tab1danger" th:text="${user.name}"></div>
			<div class="tab-pane fade" id="tab2danger" th:text="${user.email}"></div>
			<div class="tab-pane fade" id="tab3danger" th:text="${user.github}"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</body>
</html>




